body {
  background-color: black;
}
html, body {
  height: 100%;
}
path.geography {
  fill: #333;
}
svg {
  margin: 0 auto;
}
.range-play {
  display: flex;
  align-items: center;
}
.range-play input[type="range"] {
  flex: 1;
}