body {
  background-color: black;
}
html, body {
  height: 100%;
}

.display.centered {
  display: flex;
}
.display.centered svg {
  margin: 0 auto;
}

.range-play {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.range-play input[type="range"] {
  flex: 1;
}

svg path.geography {
  fill: #333;
}

svg text {
  font-weight: 300;
  font-size: 14px;
  alignment-baseline: hanging;
}
svg text.title {
  font-weight: 400;
  font-size: 16px;
}
svg text.subtitle {
  font-weight: 400;
}
svg text#date-display-svg {
  fill: #fff;
}